.iw-result {
	transition: all 1s ease-in-out;
    opacity: 1;
    transform: scale(1);
}

.csstransitions .iw-result-start {
    opacity: 0;
    transform: scale(0);
}

.share-buttons {
	padding-top: 20px;
}

.large-result,
.large-result p { font-size: 2.0rem; font-size: 20px; line-height: 1.5em; }

.iw-result p { margin-top: 0; }

@media only screen and (max-width: 519px) {
    .large-result,
    .large-result p { font-size: 1.6rem; font-size: 16px; line-height: 1.5em; }
    
    .grey-box img {
        width: 75% !important;
        margin-bottom: 10px; 
    }
}